
  @media (max-width: 400px) {
    .gifDiv{
      width: 200px;
      height: 200px;
    }
    #gifs-appear-here{
      margin: 2em;
    }

  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    #gifs-appear-here{
      max-width: 100%;
      margin: 0.2em;
    }
    .gifDiv{
      width: 300px;
      height: 350px;
    }
  }

  .btn{
    margin: 0.5em;
  }

  section{
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%
  
  }

  input{
    max-width: 100% 
  }
  .jumbotron-heading{

    font-family:'Courgette', cursive;
  }
  .album{
    margin: 1em;
  }

  #clear-section{
    display: none;
    margin-left: 67%;
  }
  .gifDiv{
    border: 0.1em solid silver;
    margin: 1em;
    overflow-y: inherit;
    overflow-x:scroll;
    font-style: italic;
    width: 300px;
    height: 350px;

  }

  .gifDivFav{
    border: 0.1em solid pink;
  }

  .gifImage{
    width: 100%;

  }
 